.form {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4vh;
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    font-family: 'Varela Round', sans-serif;
    font-size: 1.4rem;
}

.form_question > input{
    background-color: salmon;
    border: none;
}