

.mainPage {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
}

.imgYatusha {
    height: 85vh;
    width:100%;
    object-fit: cover;
    object-position: bottom;
    box-shadow: 0px 8px 8px rgba(0,0,0,.25);
}

.navbar {
    margin: 5vh;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
}

.navbar p{
    margin: 0px;
    padding: 1vh;
    display: inline-block;
    height: 6vh;
    border-radius: 1vmin;
    box-shadow: 3px 5px 6px rgba(0,0,0,.2);
    background-color: rgb(60, 100, 185);
    font-size: 5vmin;
    font-weight: 500;
    transition: .4s;
    cursor: pointer;
}

.navbar p:hover{
    background-color: rgb(35, 80, 150);
    box-shadow: 3px 5px 10px rgba(0,0,0,.6);
}

.about {
    width: 75%;
    background-color: rgba(245, 245, 245, 0.1);
    border-radius: 12px;
    box-shadow: 3px 5px 6px rgba(0,0,0,.2);
    font-size: 14pt;
    padding: 10px;
}